
		<script type="text/javascript" src="scripts/signupcheck.js">
		</script>
		<style type="text/css">
			
			/*create sticky footer*/
    		#wrap {
        		min-height: auto;
        		margin: 0 auto -auto; /* Set footer height. */
    		}
    		
    		footer{
        		height: 100px; 
    		}
    		
    		#forms {
    			padding: 2.5em 0 0 2.5em;
    			width: 800px;
    		}
    		
    		h1 {
				color: #242424;
				font-size: 26px;	
				padding: 0 0 1em 0em;
			}
			p {
				color: #242424;
				font-size: 15px;
			
			}
    		#left {
    			padding: 0 0 4em 1em;
    		}
    		
			#right {
				text-align: center;
			}
			#right img {
				padding: 1px;
			
			}

		ul.users {

			margin-top: 1em;
		}


		.users li {
			list_style: none;
		}
			
		</style>
	
		<div id ="wrap">

		
		
		<section id="forms" class="body"><!-- This section includes the section for signup form -->
			
			
			<div id = "left">
					<h1>Spotlight</h1>
					<p>Start exploring some of Frames' most interesting photos and see the world
					through someone else's eyes!</p>
			</div>
			
			
			<%= will_paginate %>

			<ul class="users">
  				<%= render @users %>
			</ul>

			<%= will_paginate %>


		</section>
		</div> <!-- end of wrap -->
		
		
		
		