<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
		<title>Register for a free Frames account</title>
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<script type="text/javascript" src="scripts/signupcheck.js">
		</script>
		<style type="text/css">
			
			/*create sticky footer*/
    		#wrap {
        		min-height: 100%;
        		margin: 0 auto -100px; /* Set footer height. */
    		}
    		
    		footer{
        		height: 100px; 
    		}
    		
    		#forms {
    			padding: 2.5em 0 0 2.5em;
    			width: 800px;
    		}
    		
    		h1 {
				color: #242424;
				font-size: 26px;	
				padding: 0 0 1em 0em;
			}
			p {
				color: #242424;
				font-size: 15px;
			
			}
    		#left {
    			padding: 0 0 4em 1em;
    		}
    		
			#right {
				text-align: center;
			}
			#right img {
				padding: 1px;
			
			}

		ul.users {

			margin-top: 1em;
		}


		.users li {
			list_style: none;
		}
			
		</style>
	</head>
	<body>
		<div id ="wrap">
		<header id="intro" class="top_bottom"><!-- Header of the website with logo and sign in/sign up and search options -->
			<div id="intro_body" class="body">
			<figure id="logo">
				<a href="/frames"><%= image_tag("logo.jpg", :alt => "website logo")%></a>
			</figure>
			<nav id="into_nav">
				<ul>
					<li><%= link_to "Sign in |", signin_path %><%= link_to "Sign up", signup_path  %></li>
					<li>
						<form action="" id="search"> 
							<input type="text" name="query" id="query" size="30" value=""> 
							<input type="submit" value="Search"> 
							<input type="hidden" name="search" value="1"> 
						</form> 
					</li>
				</ul>
			</nav>
			<div class = "clear"></div>
			</div>
		</header><!-- /#intro -->
		
		
		<section id="forms" class="body"><!-- This section includes the section for signup form -->
			
			
			<div id = "left">
					<h1>Spotlight</h1>
					<p>Start exploring some of Frames' most interesting photos and see the world
					through someone's eyes!</p>
			</div>
			<div id = "right">
			
			<ul class = "users">	
			   <% @users.each do |user| %>
		        	<li>
			  		<%= link_to user.name, user %>
			        <li>
			   <% end %>
			</ul>


			</div>
		</section>
		</div> <!-- end of wrap -->
		
		
		
		<footer id="site_info" class="top_bottom" ><!-- Includes information and links about the website -->
			<div id="footer_div" class="body">
			<div>
				<ul>
					<li><a href="/frames/about">About Frames |</a></li>
					<li><a href="/frames/map">Site map</a></li>
				</ul>
				<p>
					<a href="http://jigsaw.w3.org/css-validator/check/referer">
   						 <img style="border:0;width:88px;height:31px" src="http://jigsaw.w3.org/css-validator/images/vcss-blue" alt="Valid CSS!" />
					</a>
					<a href="http://validator.w3.org/check?uri=http%3A%2F%2Fstudent.csse.uwa.edu.au%2F~20430452%2FProject%2Fenter.html">HTML 5 Validation</a>
				</p>
			</div>
			
			</div>
		</footer><!-- /#site>info -->
		
	</body>
</html>
