
		<script type="text/javascript">
			function submit() {
				var name = document.getElementById("name");
				var email = document.getElementById("email");
				var msg = document.getElementById("message");
				var testEmail = /^[a-z0-9_\+-]+(\.[a-z0-9_\+-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*\.([a-z]{2,4})/;
				
				if (name.value == "") {
					document.getElementById("nameSpan").style.visibility = "visible";
					name.focus();
					return false;
				} else
				if ((email.value == "") || (!testEmail.test(email.value))) {
					document.getElementById("checkEmail").style.visibility = "visible";
					email.focus();
					return false;
				} else
				if (msg.value == "") {
					document.getElementById("checkMsg").style.visibility = "visible";
					msg.focus();
					return false;
				} else
					return true;	
			
			}
		</script>
		
		<style type="text/css">
			
			#wrap {
        		min-height: 90%;
        		margin: 0 auto -100px; /* Set footer height. */
    		}
    		
    		footer {
        		height: 100px; 
    		}
		
    		
    		#about {
    			width: 800px;
    			padding: 2.5em 0 0 0;
    		}
    		#about h1 {
				color: #242424;
				font-size: 26px;
				padding: 0 0 1em 0;		
			}
			#about p {
				text-align:justify;
				color: #242424;
			
			}
			#form1 input{		
				width:200px;
				height: 20px;
				border:1px solid #868686;
				padding:3px;
				border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				-chrome-border-radius: 10px;
				-webkit-border-radius: 10px;
			}
			#form1 textarea{
				width:350px;
				height: 125px;
				border:1px solid #868686;
				padding:3px;
				border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				-chrome-border-radius: 10px;
				-webkit-border-radius: 10px;
			
			}
			#form1 button{
				width:150px;
				height:37px;
				line-height:37px;		
				font-size: 15px;
				background:url('images/background.gif') no-repeat 0 0;
				color:#868686;
				text-align:center;
				border:none;
				border-radius: 10px;
				-chrome-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				-moz-border-radius: 10px;
				-webkit-border-radius: 10px;
			}
			span {
				font-size: small;
				color: #D00000;
				font-weight:bold;
			}
    		
			
		</style>
	
	<div id ="wrap">

		<section id="about" class="body">
			<h1>About Frames</h1>
			<p>Frames is a photo sharing and management application that allows users to store, 
			organise and share their photos. Designed by a group of computer science students from 
			the University of Western Australia, Frames was created to provide a medium through which
			people could showcase their work and connect with others who also share a passion for 
			photography.</p><br/>
			<h1>Contact Us</h1>
			
			<form id="form1" action="/" >
				<p>
					<label>Name:</label><br/>
					<input type="text" name="name" id="name" size="25"/> 
					<span id = "nameSpan" style="visibility: hidden;">Please enter your name</span>
				</p>
				<p>
					<label>Email:</label><br/>
					<input type="text" name="email" id="email" size="25"/>
					<span id = "checkEmail" style="visibility: hidden;">Please enter a valid email</span>
				</p>
				<p>
					<label>Please enter your message:</label><br/>
					<textarea rows="8" class="required" cols="50" name="message" id="message"></textarea>
					<span id = "checkMsg" style="visibility: hidden;">Please enter a message</span>
				</p>					
				<p class="submit">
					<button type="submit">Send</button>
				</p>
			</form>
			
		</section>
		
		<script type="text/javascript">
			<!--
				document.getElementById("form1").onsubmit = submit;
			// -->
		</script>
		
	</div> <!-- end of wrap -->	
	
		